In [1]:
#1....
"""A database is a structured collection of data that is organized and stored in a way that makes it easy to manage, retrieve, and update.
"""

'A database is a structured collection of data that is organized and stored in a way that makes it easy to manage, retrieve, and update.\n'

In [2]:
"""SQL Databases:

Structure: SQL databases are relational databases that use a structured schema and tables to organize and represent data. Data is stored in rows and columns, and relationships between different tables are established using foreign keys.
Schema: SQL databases have a predefined schema, which means the structure of the data must be defined before inserting data into the database. Changes to the schema may require altering existing data.
Scalability: SQL databases are generally vertically scalable, meaning you can increase the capacity of a single server's hardware (e.g., by adding more CPU, RAM, or SSD).
Examples: MySQL, PostgreSQL, SQLite, Oracle, Microsoft SQL Server.
NoSQL Databases:

Structure: NoSQL databases are non-relational and can store unstructured or semi-structured data. They can use various data models, such as document-oriented, key-value pairs, wide-column stores, or graph databases.
Schema: NoSQL databases are often schema-less, allowing for flexibility in the data structure. This means you can insert data without a predefined schema, and the schema can evolve over time without affecting existing data.
Scalability: NoSQL databases are generally horizontally scalable, meaning you can scale out by adding more servers to your NoSQL database system to handle increased load.
Examples: MongoDB, Cassandra, Couchbase, Redis, Neo4j."""

"SQL Databases:\n\nStructure: SQL databases are relational databases that use a structured schema and tables to organize and represent data. Data is stored in rows and columns, and relationships between different tables are established using foreign keys.\nSchema: SQL databases have a predefined schema, which means the structure of the data must be defined before inserting data into the database. Changes to the schema may require altering existing data.\nScalability: SQL databases are generally vertically scalable, meaning you can increase the capacity of a single server's hardware (e.g., by adding more CPU, RAM, or SSD).\nExamples: MySQL, PostgreSQL, SQLite, Oracle, Microsoft SQL Server.\nNoSQL Databases:\n\nStructure: NoSQL databases are non-relational and can store unstructured or semi-structured data. They can use various data models, such as document-oriented, key-value pairs, wide-column stores, or graph databases.\nSchema: NoSQL databases are often schema-less, allowing for flexibility in the data structure. This means you can insert data without a predefined schema, and the schema can evolve over time without affecting existing data.\nScalability: NoSQL databases are generally horizontally scalable, meaning you can scale out by adding more servers to your NoSQL database system to handle increased load.\nExamples: MongoDB, Cassandra, Couchbase, Redis, Neo4j."

In [3]:
#2....
"""DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used for defining and managing database structures."""

'DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used for defining and managing database structures.'

In [6]:
"""CREATE: Used to create new database objects.
DROP: Used to delete existing database objects and their data.
ALTER: Used to modify the structure of existing database objects.
TRUNCATE: Used to remove all rows from a table, maintaining the table structure."""

'CREATE: Used to create new database objects.\nDROP: Used to delete existing database objects and their data.\nALTER: Used to modify the structure of existing database objects.\nTRUNCATE: Used to remove all rows from a table, maintaining the table structure.'

In [7]:
#3....
"""DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for managing data stored in a database. """

'DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for managing data stored in a database. '

In [8]:
"""INSERT: Used to add new rows of data to a table.
UPDATE: Used to modify existing data in a table based on specified conditions.
DELETE: Used to remove rows from a table based on specified conditions."""

'INSERT: Used to add new rows of data to a table.\nUPDATE: Used to modify existing data in a table based on specified conditions.\nDELETE: Used to remove rows from a table based on specified conditions.'

In [9]:
#4....
"""DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. """

'DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. '

In [10]:
"""SELECT *: Indicates that all columns should be retrieved.
FROM employees: Specifies the table from which to retrieve the data ("employees" table).
WHERE department = 'IT': Filters the rows to include only those where the "department" column has the value 'IT'."""

'SELECT *: Indicates that all columns should be retrieved.\nFROM employees: Specifies the table from which to retrieve the data ("employees" table).\nWHERE department = \'IT\': Filters the rows to include only those where the "department" column has the value \'IT\'.'

In [14]:
#5....
"""*A primary key is a column or set of columns in a relational database table that uniquely identifies each record in the table.
*It must contain unique values for each row, and it cannot have NULL values.
*The primary key is used to enforce the entity integrity of the database by ensuring that each record can be uniquely identified."""

'*A primary key is a column or set of columns in a relational database table that uniquely identifies each record in the table.\n*It must contain unique values for each row, and it cannot have NULL values.\n*The primary key is used to enforce the entity integrity of the database by ensuring that each record can be uniquely identified.'

In [15]:
"""*A foreign key is a column or set of columns in a relational database table that refers to the primary key in another table.
*It establishes a link or relationship between two tables, enforcing referential integrity.
*The foreign key in one table is used to match the primary key in another table, creating a connection between the two tables."""

'*A foreign key is a column or set of columns in a relational database table that refers to the primary key in another table.\n*It establishes a link or relationship between two tables, enforcing referential integrity.\n*The foreign key in one table is used to match the primary key in another table, creating a connection between the two tables.'

In [16]:
#6....
import mysql.connector

# Connect to the MySQL server
conn = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Example: Creating a table
table_creation_query = """
CREATE TABLE IF NOT EXISTS example_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT
)
"""

# Execute the table creation query
cursor.execute(table_creation_query)

# Example: Inserting data into the table
insert_query = """
INSERT INTO example_table (name, age) VALUES (%s, %s)
"""

data_to_insert = ("John Doe", 25)

# Execute the insert query with data
cursor.execute(insert_query, data_to_insert)

# Commit changes to the database
conn.commit()

# Example: Querying data from the table
select_query = """
SELECT * FROM example_table
"""

# Execute the select query
cursor.execute(select_query)

# Fetch all rows from the result set
result_set = cursor.fetchall()

# Display the retrieved data
for row in result_set:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

ModuleNotFoundError: No module named 'mysql'

In [17]:
#7....
"""*select
* from 
* where 
*groupby
*having"""

'*select\n* from \n* where \n*groupby\n*having'